.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
model/__pycache__/
model/*.pyc
model/*.pyo
model/*.pyd
model/*.sqlite3
model/*.db
*.log
*.csv
*.tsv
*.json
*.xml
*.xlsx
*.xls
*.docx
*.pptx
*.ppt
*.pdf
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.Z
*.tar.lzma
*.tar.lz
*.tar.lzop
*.tar.lzo
